<div class="container float-md-left">
    <div class="row">
    <!--Product Link-->
    <div class="col-md-3">
    <img [routerLink]="'/'" class="row" src="../../assets/Logo_1.png" alt="" width=auto height="auto">
    </div>
    <div class="col-md-9">
        <a class="h5" [routerLink]="'/'">Product Name</a>
        <p>$50.00</p>
        <label for="quantity">Quantity:</label>
        <input type="number" class="form-control" name="quantity" class="mb-4" placeholder="">
        <p>In Stock</p>
        <img class="mb-4" style="padding-right: 2px;" src="../../assets/Star.png" width=2% height="auto">
        <img class="mb-4" style="padding-right: 2px;" src="../../assets/Star.png" width=2% height="auto">
        <img class="mb-4" style="padding-right: 2px;" src="../../assets/Star.png" width=2% height="auto">
        <img class="mb-4" style="padding-right: 2px;" src="../../assets/Star.png" width=2% height="auto">
        <img class="mb-4" style="padding-right: 2px;" src="../../assets/Star.png" width=2% height="auto">
        <!--ngFor for the stars-->
    </div>
</div>
</div>