<app-navbar></app-navbar>
<title>Your Cart ({{getCartCount()}}) - Bugger</title>
<div class="container">
    <h2>Your Cart ({{getCartCount()}})</h2>
    <button class="btn btn-outline-danger" *ngIf="getCartCount()>0" (click)="emptyCart()">Empty Cart</button>
    <div class="row">
        <div class="col-md-8">
            <!--Cart display-->
            <hr class="mb-4">
            <div class="row" *ngFor="let item of getCartArray()">
                <img class="col-md-2" src="{{item.getImageURL()}}" width="auto" height="50%">
                <span class="col-md-6">
                    <h5>{{item.getItemName()}}</h5>
                    <span *ngFor="let in of loop(item.getRating())">
                        <img class="mb-4" style="padding-right: 2px;" src="../../assets/Star.png" width=3%
                            height="auto">
                    </span>
                    <p>Price: ${{item.getPrice()}}</p>
                    <p>In Stock: {{item.getInStock()}}</p>
                    <p>Days To Arrive: {{item.getDaysToArrive()}}</p>
                    <p>Quantity: {{item.getQuantity()}}</p>
                </span>
                <hr class="mb-4">
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Summary</span>
                <span class="badge badge-secondary badge-pill">{{getCartCount()}}</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>{{getTotalPrice()}}</strong>
                </li>
            </ul>

            <button class="btn btn-lg btn-primary" [routerLink]="'/products'">Continue Shopping &raquo;</button> <br>
            <button *ngIf="getCartCount()>0" class="btn btn-lg btn-outline-primary" [routerLink]="'/checkout'">Proceed to checkout &raquo;</button>
        </div>
    </div>
    <br><br>
</div>