<app-navbar></app-navbar>
<title>Home - Bugger</title>
    <main role="main" class="container text-center">
        <div class="jumbotron">
            <img class="mb-4" src="../../assets/Logo_1.png" alt="" width="25%" height="auto">
            <h1>Bugger: Go off and shop</h1>
            <p class="lead">Busy as a beetle? Then click on 'Our Products' and begin shopping from our catalogue now! Since this is an example site, loading is quick and painless (hopefully). So do yourself a favor and go shop!</p>
            <a class="btn btn-lg btn-primary" [routerLink]="'/products'">Go to Catalogue &raquo;</a>
        </div>
    </main>