<app-navbar></app-navbar>
<!--Change title to Profile name-->
<title>Profile - Bugger</title>
<div class="container">
    <div class="row">
<div class="col">
    <!--Product Link-->
    <img [routerLink]="'/'" class="mb-4" src="../../assets/Logo_1.png" alt="" width=50% height="auto">
    <div>
        <h2>Profile Name</h2>
        <h3>Email Address</h3>
        <h3>Phone Number</h3>
    </div>
</div>
<div class="col">
    <!--Product Link-->
        <h3>Billing Address</h3>
        <h3>State</h3>
        <h3>Zip</h3>
        <h3>Country</h3>
        <h3>Shipping Address</h3>
        <h3>State</h3>
        <h3>Zip</h3>
        <h3>Country</h3>
</div>
</div>
</div>