<div class="container text-center">
    <!--Product Link-->
    <img [routerLink]="'/'" class="mb-4" src="../../assets/Logo_1.png" alt="" width=45% height="auto">
    <div>
        <a class="h3" [routerLink]="'/'">Product Name</a>
        <h5>In Stock</h5>
        <img class="mb-4" style="padding-right: 2px;" src="../../assets/Star.png" width=6% height="auto">
        <img class="mb-4" style="padding-right: 2px;" src="../../assets/Star.png" width=6% height="auto">
        <img class="mb-4" style="padding-right: 2px;" src="../../assets/Star.png" width=6% height="auto">
        <img class="mb-4" style="padding-right: 2px;" src="../../assets/Star.png" width=6% height="auto">
        <img class="mb-4" style="padding-right: 2px;" src="../../assets/Star.png" width=6% height="auto">
        <h5>$50.00</h5>
        <p class="h5"># reviews</p>
        <!--ngFor for the stars-->
    </div>
</div>